<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="WebAppTest.TestSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <specFlow>
    <unitTestProvider name="MSTest"></unitTestProvider>
  </specFlow>
  <applicationSettings>
    <WebAppTest.TestSettings>
      <setting name="ApiUrl" serializeAs="String">
        <value>https://api.unleashedsoftware.com/</value>
      </setting>
    </WebAppTest.TestSettings>
  </applicationSettings>
</configuration>